<form id="formProduct">
    <h2>Productos en Tiempo Real</h2>
    <input class="controls" type="text" name="title" id="title" placeholder="Ingresa Nombre del Producto" required>
    <input class="controls" type="text" name="description" id="description" placeholder="Ingresa description" required>
    <input class="controls" type="number" name="stock" id="stock" placeholder="Ingresa su stock" required>
   <input class="controls" type="text" name="thumbnail" id="thumbnail" placeholder="Ingresa su imagen url" required>
    <input class="controls" type="text" name="category" id="category" placeholder="Ingresa categoria" required>
    <input class="controls" type="number" name="price" id="price" placeholder="Ingresa su precio" required>
   <input class="controls" type="text" name="code" id="code" placeholder="Ingresa su code" required>
    <button class="botons" type="submit" id="add-btn" >Registrar </button>
    <h2> Eliminar un producto:</h2>
    <input class="controls" type="number" name="id-prod" id="id-prod" placeholder="Ingresa ID" >
   <button class="botons" type="button" id="delete-btn">Eliminar</button>

  </form>



    <article id="list-products">
      
    </article>
       

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>